<!DOCTYPE html>


<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Home</title>
        <meta name="description" content="Track your food n stuff">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <link rel="stylesheet" href="/stylesheets/inputStyle.css">
        <link rel="stylesheet" href="/stylesheets/popup.css">
        <link rel="stylesheet" href="/stylesheets/sidebar.css">

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" crossorigin="anonymous" referrerpolicy="no-referrer" />
    </head>

    <body>

        <div id="sidebar">

            <div class="sidebarHeader">
                <i onclick="toggleSidebar('close');" class="fas fa-times"></i>
            </div>
            
            <div onclick="updateProgram();" class="sidebarEntry">Update Webapp</div>
            <h4 class="version">V4.5.1b</h4>

        </div>
 
        <div id="popup" data-active="false">

            <div class="popupBody">

                <div class="popupTitle">
                    <h2 id="popupTitleText" >Add new Item</h2>
                    <i onclick="togglePopup();" class="fas fa-times"></i>
                </div>
        
                
                <div class="input-wrapper">
                    <label for="name" class="label">Name</label>
                    <input type="text" id="inputName" maxlength="32" required>
                </div>
    
                <div class="input-wrapper">
                    <label for="name" class="label">Count</label>
                    <input type="number" id="inputCount" max="50" required>
                </div>

                <div class="input-wrapper">
                    <label id="dateLabel" for="inputDate">Date</label>
                    <input type="date" name="inputDate" id="inputDate" placeholder=" " required>
                </div>

                <div class="input-wrapper">
                    <select name="inputGroup" id="inputGroup">
                        <option selected value="none">Unsorted</option>
                        <option value="fridge">Fridge</option>
                        <option value="freezer">Freezer</option>
                        <option value="cabinet">Cabinet</option>
                        <option value="medicine">Medicine</option>
                    </select>
                </div>
    
                <button id="confirmBtn" onclick="sendItem('sendItem');" class="btn confirm-btn">Add</button>
                <button id="removeBtn" onclick="removeItem(this.dataset.id)" class="btn abort-btn">Remove</button>

            </div>

        </div>

        <div id="opacityLayer"></div>


        <header>

            <div id="logoWrapper">
                <div id="logo">
                    <h1>FoodTracker</h1>
                    <div></div>
                </div>
    
                <i onclick="toggleSidebar('open')" class="fas fa-bars"></i>
            </div>

            <div id="searchWrapper">

                <div id="search" class="input-wrapper">
                    <label class="label" for="searchbar">Search..</label>
                    <input type="search" name="seachbar" id="searchbar" placeholder="">
                </div>
                
                <div class="input-wrapper">
                    <select name="inputSort" id="inputSort">
                        <option value="none">Default</option>
                        <option value="name">Name</option>
                        <option value="date">Date</option>
                        <option value="count">Count</option>
                    </select>
                </div>

            </div>

        </header>

        <main>

            <div id="legend">
                <span class="itemName">Item name</span>
                <span class="itemCount">#</span>
                <span class="itemDate">Date</span>
            </div>

            <div id="itemWrapper">

                <div class="itemGroup">
                    <span class="itemName">Potato</span>
                    <span class="itemCount">2</span>
                    <span class="itemDate">15.11.2021</span>
                </div>

            </div>

        </main>
        
        <div id="addNewBtn" onclick="clearPopup();togglePopup();">
            <i class="fas fa-plus-circle"></i>
        </div>
  

        <script src="/scripts/inputLogic.js" async defer></script>
        <script src="/scripts/helpers.js" async defer></script>
        <script src="/scripts/network.js" async defer></script>
        <script src="/scripts/script.js" async defer></script>
    </body>
</html>