:root {
    --purple: #8979F2;

    --light-green: #2dab76;
    --soft-green:#3e774d;
    --dark-green: #f5e9d6;
    --grey: #bbaf9a;

    --black: #22272e;
    --lighterBlack: #2d333b;
    --lighestBlack: #595b58;

    --text-white: #FAFAFA;

    --btn-green: #1d4824;
    --btn-red: #663a36;
}

/* scrollbar */
body::-webkit-scrollbar {
    width: .25rem;
    background-color: var(--black);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 10px;
}

.fas {
    color: var(--light-green);
}

html, body {
    margin: 0;
    background-color: var(--black);
    height: 100%;
    overflow-x: hidden !important;
}

#opacityLayer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.281);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    cursor: pointer;
    display: none;
    opacity: 1;
    transition: opacity 1s;
}

/* btns */

.btn {
    padding: 1rem 2rem;
    margin: 3px;
    border-radius: 3px;
    font-size: 14pt;
    outline: none;
    margin-top: 1rem;
    cursor: pointer;
    width: 100%;
}

.confirm-btn {
    color: #8ae28d;
    background-color: #347d39;
    border: 2px solid #2d7439;
}

.confirm-btn:focus-visible, .confirm-btn:target {
    border: 2px solid #8ae28d;
}

.abort-btn {
    color: #d46f6f;
    background-color: #663a36;
    display: "none";
    border: 2px solid #663a36;
}

.abort-btn:focus-visible, .abort-btn:target {
    border: 2px solid #d46f6f;
}



header {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header i {
    height: fit-content;
    font-size: 20pt;
}


#logoWrapper {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-bottom: 2rem;
    align-items: flex-end;
}

#logoWrapper .fa-bars {
    cursor: pointer;
}

#logo {
    display: flex;
    flex-direction: column;
    width: 80vw;
}


#logo h1 {
    margin: 0;
    font-style: serif;
    color: white;
}


#logo div {
    background-color: var(--light-green);
    width: 66%;
    height: .5rem;
    border-radius: 3px;
}


/* item groups */

main {
    margin-top: 2rem;
}

.itemName, .itemCount, .itemDate {
    user-select: none;
    display: flex;
    align-items: center;
}

.itemName {
    width: 50%;
}

.itemCount {
    width: 20%;
}

.itemDate {
    width: 30%;
    justify-content: flex-end;
}


#itemWrapper, #legend {
    flex-wrap: wrap;
    width: 80%;
    display: flex;
    margin-left: 10%;
    margin-right: 0;
    color: var(--grey)
}

#itemWrapper {
    flex-direction: column;
    align-items: center;
}

#legend {
    margin-bottom: 1rem;
}

legend {
    color: var(--text-white);
    padding: 1rem;
}

fieldset {
    width: 90%;
    margin: 0;
    margin-bottom: 1rem;
    border-radius: 3px;
    border-color: var(--lighestBlack);
    background-color: rgba(44, 44, 44, 0.199);
    border: 1px solid;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.itemGroup {
    display: flex;
    flex-direction: row;
    width: 90%;
    background-color: var(--lighterBlack);
    color: var(--dark-green);
    height: 1.5rem;
    border-radius: 11px;
    margin-bottom: .5rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.1s;
}

.itemGroup:hover {
    background-color: var(--lighestBlack);
}

.itemGroup:last-of-type {
    margin-bottom: 1rem;
}


#addNewBtn {
    cursor: pointer;
    position: sticky;
    bottom: 2rem;
    display: flex;
    justify-content: flex-end;
    z-index: 8;
    width: fit-content;
    margin-left: 80%;
}


#addNewBtn, #logoWrapper .fa-bars, #sidebar .fa-times {
    font-size: 20pt;
    transition: all .25s;
    text-shadow: 0 0 5px var(--soft-green);
}

#addNewBtn{
    font-size: 30pt;
}

#addNewBtn:hover , #logoWrapper .fa-bars:hover, #sidebar .fa-times:hover {
    text-shadow: 0 0 15px var(--soft-green);
}

